@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700;900&display=swap');


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 3rem auto;
    background: #141414;
    border-radius: 20px;

    width: 70%;

}

.img-wrap {
    max-width: 12%;
}

.img-wrap img {
    display: block;
    max-width: 100%;
}

footer .content h2 {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #787373;
    margin-top: 1rem;
}

footer .content p {
    max-width: 90%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.88rem;
    text-align: center;
    line-height: 1.7rem;
    color: #787373;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}