@media (min-width:1440px) {
    body {
        width: 100%;
        background: #000;
    }

}

@media (max-width:768px) {
    body {
        width: 100%;
    }

    header{
        margin: 0 1rem;
    }
    
    .titles {
        width: 100%;
        text-align: center;
    }

    .titles__title{
        font-size: 3rem;
    }

    .subtitle--box{
        margin-top: 1rem;
    }

    .subtitle--box__padlock{
        height: 2em;
        object-fit: cover;
    }

    #subtitle{
        font-size: 1rem;
        margin: 0.44rem;
        text-transform: uppercase;
    }
    

    .video{
        width: 80%;
    }
    

}

@media (max-width:425px) {
    body {
        width: 100%;
        margin: 0 1rem;
    }

    .titles__title {
        font-size: 2rem;
        margin: .2em 1rem;
        text-align: center;
        display: block;

        background-color: red;
    }

    .subtitle--box__padlock {
        height: 5em;
        object-fit: cover;
        margin-left: 1rem;

        background-color: red;
    }

    #subtitle {
        color: white;
        font-family: 'Anton', sans-serif;
        font-size: 2rem;
        margin: 10px;
        text-transform: uppercase;
        text-align: center;
    }


    .video {
        width: 80vw;
    }


    .plataform img {
        width: 80vw;
        margin: 3rem auto;
        display: flex;
        justify-content: center;
    }


    footer {
        width: 70vw;
    }


}