@media (min-width:1440px) {
    body {
        width: 100%;
        background: #000;
    }

}

@media (max-width:768px) {
    body {
        width: 100%;
    }

    header {
        margin: 0 1rem;
    }

    .titles {
        width: 100%;
        text-align: center;
    }

    .titles__title {
        font-size: 3rem;
    }

    .subtitle--box {
        margin-top: 1rem;
    }

    .subtitle--box__padlock {
        height: 2em;
        object-fit: cover;
    }

    #subtitle {
        font-size: 1rem;
        margin: 0.44rem;
        text-transform: uppercase;
    }


    .video {
        width: 80%;
    }


}

@media (max-width:425px) {
    body {
        width: 100%;
        margin: 0 1rem;
    }

    header {
        margin: 0 1rem;
    }

    .titles {
        width: 100%;
        text-align: center;
    }

    .titles__title {
        font-size: 2rem;
    }


    .titles__title:nth-child(2) {
        padding: 0.1rem;
        font-size: 1.80rem;
    }

    .titles__title:nth-child(3) {
        font-size: 1.80rem;
    }


    .subtitle--box {
        margin-top: 1rem;
    }

    .subtitle--box__padlock {
        height: 2em;
        object-fit: cover;
    }

    #subtitle {
        font-size: 1rem;
        margin: 0.44rem;
        text-transform: uppercase;
    }


    .video {
        width: 90%;
    }

    .plataform img{
        width: 80%;
    }


    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 3rem auto;
        background: #141414;
        border-radius: 20px;
    
        width: 90%
    
    }

    .img-wrap {
        max-width: 30%;
    }
    footer .content h2 {
        font-size: 0.75rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        text-align: center;
        color: #787373;
        margin-top: 1rem;
    }
    

    footer .content p {
        max-width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 0.80rem;
        text-align: center;
        line-height: 1rem;
        color: #787373;
        margin-top: 1.3em;
        margin-left: auto;
        margin-right: auto;
    }

}