body {
    width: 100%;
    background: #000;
}

*{
    /* outline: 1px solid red; */
}

.video{
    width: 70%;
    border-radius: 0.2rem;
    margin: 0rem auto;
    border: 3px solid #00BBFF;
    border-color: #00BBFF;
    box-shadow: 0px 0px 70px -19px rgb(0 212 255 / 81%);
    cursor: pointer;
}

.plataform{
    width: 100%;
    margin: 3.5rem auto;
    display: flex;
    justify-content: center;
}
